/* =========================
   RESET
========================= */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* =========================
   BODY
========================= */
body{
  background:#ece4dc;

  font-family:'Poppins', sans-serif;

  display:flex;

  justify-content:center;

  padding:6px;

  color:white;
}
/* =========================
   PHONE CONTAINER
========================= */
.phone-menu{
    width:100%;
    max-width:390px;

    background:
    linear-gradient(to bottom,
    #1a120e,
    #17100d,
    #130d0a);

    border-radius:28px;

    overflow:hidden;

    box-shadow:
    0 8px 24px rgba(0,0,0,0.22);
}
/* =========================
   NAVBAR
========================= */
.navbar{
    background:#120807;
    height:62px;
    padding:0 18px;
    display:flex;
    justify-content:space-between;
      align-items:center;
    position:sticky;
    top:0;
    z-index:1000;
}

/* اللوغو */
.logo img{
    width:82px;
    display:block;
    object-fit:contain;
}

/* MENU */
.nav-links{
    list-style:none;
}

.nav-links .active{
    font-family:'Oswald', sans-serif;
    font-size:16px;
    letter-spacing:1px;
    color:white;
    position:relative;
    font-weight:500;
}

.nav-links .active::after{
    content:"";
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:-8px;
    width:52px;
    height:2px;
    background:#9c6a48;
    border-radius:20px;
}
.nav-links a{
    text-decoration:none;
}

/* =========================
   HERO
========================= */
.hero{
    height:270px;

    background-image:
    linear-gradient(rgba(0,0,0,0.14),
    rgba(0,0,0,0.14)),
    url("images/background.jpg");

    background-size:cover;

    background-position:center;

    display:flex;

    align-items:center;

    padding-left:20px;
}

.hero h1{
    font-family:'Oswald', sans-serif;

    font-size:28px;

    line-height:1.08;

    font-weight:600;

    margin-bottom:8px;
}

.hero p{
    font-size:16px;

    color:#b67b5c;

    font-family:cursive;
}
/* =========================
   MENU SECTION
========================= */
.menu-section{
    padding:14px 24px 0px;
}
/*  عنوان OUR MENUE */
.menu-section h2{
    text-align:center;

    font-family:'Oswald', sans-serif;

    font-size:19px;

    margin-bottom:10px;

    position:relative;

    letter-spacing:1px;

    font-weight:500;

    color:#f3eee9;
}

/* الحط تحت OUR MENUE */
.menu-section h2::after{
    content:"";

    position:absolute;

    width:56px;
    height:1px;

    background:#8f664b;

    left:50%;

    transform:translateX(-50%);

    bottom:-5px;
}
/* =========================
   MENU ITEMS
========================= */
.menu-item{
    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:12px 0;

    border-bottom:
    1px solid rgba(193,162,132,0.28);
}

/* الجهة اليسار */
.menu-left{
    display:flex;

    align-items:center;

    gap:13px;
}


/* الايقونات */
.menu-left i{
    font-size:19px;

    color:#d2b394;

    width:24px;
}


/* العنوان */
.menu-left h3{
    font-family:'Oswald', sans-serif;

    font-size:14px;

    color:#f4ede7;

    margin-bottom:1px;

    font-weight:500;
}

/* الوصف */
.menu-left p{
    font-size:11px;

    color:#b7aaa0;

    line-height:1.3;
}


/* زر السهم */
.menu-item button{
    width:36px;
    height:36px;

    border:none;

    border-radius:50%;

    background:#8d6248;

    color:white;

    font-size:11px;

    cursor:pointer;

    transition:0.3s;
}
/* ======================================================================
   SPECIALS
============================================================================ */
/* =========================
   SPECIALS
========================= */

.specials{
    padding:8px 18px 24px;
}

/* العنوان */
.specials h2{
    font-family:'Oswald', sans-serif;
    font-size:18px;
    margin-bottom:14px;
    color:#f5f1ec;
    font-weight:500;
}

/* حاوية الكروت */
.cards{
    display:flex;
    gap:10px;
}

/* الكرت */
.card{
    flex:1;

    background:rgba(255,255,255,0.02);

    border:1px solid rgba(255,255,255,0.08);

    border-radius:14px;

    overflow:hidden;
}

/* الصورة */
.card img{
    width:100%;
    height:95px;
    object-fit:cover;
    display:block;
}

/* المحتوى */
.card-content{
    padding:8px;
}

/* اسم المشروب */
.card-content h3{
    font-family:'Oswald', sans-serif;

    font-size:10px;

    line-height:1.3;

    margin-bottom:4px;

    color:#f4f1ed;

    font-weight:500;
}

/* الوصف */
.card-content p{
    font-size:8px;

    line-height:1.45;

    color:#b8ada4;

    margin-bottom:6px;
}

/* السعر */
.card-content span{
    font-size:10px;

    color:#d7a178;

    font-weight:600;
}
/* =============================================================
   FOOTER
========================================================== */
footer{
  margin-top:8px;

  background:linear-gradient(to right,#7a5741,#9a6d50);

  height:95px;

  display:flex;

  justify-content:flex-start;

  align-items:center;

  padding-left:22px;
}

/* THANK YOU */
footer h3{
  font-family:'Oswald', sans-serif;

  font-size:18px;

  font-weight:500;

  letter-spacing:1px;

  color:#f5f1ec;
}
/* ============================================================================
   MODAL
================================================================================== */
.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.75);
  display:none;
  justify-content:center;
  align-items:flex-start;
  overflow-y:auto;
  z-index:999;
  padding:20px 12px;
}

.modal-content{
  width:100%;

  max-width:340px;

  background:linear-gradient(to bottom,#1a110d,#120c09);

  border-radius:24px;

  padding:18px;

  position:relative;

  margin-top:80px;

  margin-bottom:30px;

  animation:popup 0.3s ease;
}
@keyframes popup{
  from{
    transform:scale(0.7);
    opacity:0;
  }
  to{
    transform:scale(1);
    opacity:1;
  }
}

.close{
  position:absolute;
  top:15px;
  right:20px;
  font-size:35px;
  cursor:pointer;
  color:white;
}

.modal-content h2{
  text-align:center;
  margin-bottom:25px;
  font-family:'Oswald', sans-serif;
  font-size:38px;
}

.modal-items{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.drink-card{
  display:flex;

  flex-direction:row-reverse;

  align-items:center;

  gap:14px;

  background:#211613;

  border-radius:18px;

  padding:10px;

  border:1px solid rgba(255,255,255,0.06);

  margin-bottom:14px;
}

/* الصورة */
.drink-card img{
  width:95px;

  height:95px;

  border-radius:16px;

  object-fit:cover;

  flex-shrink:0;
}

/* النص */
.drink-card h3{
  font-family:'Oswald', sans-serif;

  font-size:22px;

  color:white;

  margin-bottom:6px;
}

/* السعر */
.drink-card span{
  color:#d8a277;

  font-size:22px;

  font-weight:600;
}
