/* =========================
   RESET
========================= */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#111;
  font-family:'Poppins', sans-serif;
  display:flex;
  justify-content:center;
  padding:20px;
  color:white;
}

/* =========================
   PHONE CONTAINER
========================= */
.phone-menu{
    width:390px;

    background:
    linear-gradient(to bottom,#140d09,#1a120e,#120d0b);

    border-radius:28px;
    overflow:hidden;

    box-shadow:0 0 25px rgba(0,0,0,0.55);
}


/* =========================
   NAVBAR
========================= */
.navbar{
    background:#120807;

    height:62px;

    padding:0 18px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* اللوغو */
.logo img{
    width:82px;
    display:block;
    object-fit:contain;
}

/* MENU */
.nav-links{
    list-style:none;
}

.nav-links .active{
    font-family:'Oswald', sans-serif;
    font-size:16px;
    letter-spacing:1px;
    color:white;
    position:relative;
    font-weight:500;
}

.nav-links .active::after{
    content:"";

    position:absolute;

    left:50%;
    transform:translateX(-50%);

    bottom:-8px;

    width:52px;
    height:2px;

    background:#9c6a48;

    border-radius:20px;
}


/* =========================
   HERO
========================= */
.hero{
    height:285px;

    background-image:
    linear-gradient(rgba(0,0,0,0.12),
    rgba(0,0,0,0.12)),
    url("images/background.jpg");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    display:flex;

    align-items:center;

    padding-left:22px;
}

.hero .text{
    width:48%;
}

.hero h1{
    font-family:'Oswald', sans-serif;

    font-size:31px;

    line-height:1.12;

    font-weight:600;

    margin-bottom:10px;
}

.hero p{
    font-size:17px;

    color:#b67b5c;

    font-family:cursive;
}


/* =========================
   MENU SECTION
========================= */
.menu-section{
    padding:22px 22px 5px;
}

.menu-section h2{
    text-align:center;

    font-family:'Oswald', sans-serif;

    font-size:23px;

    margin-bottom:22px;

    position:relative;

    letter-spacing:1px;

    font-weight:500;
}

.menu-section h2::after{
    content:"";

    position:absolute;

    width:62px;
    height:2px;

    background:#9c6a48;

    left:50%;

    transform:translateX(-50%);

    bottom:-8px;
}

/* كل قسم */
.menu-item{
    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px 0;

    border-bottom:
    1px solid rgba(255,255,255,0.06);
}

/* الجهة اليسار */
.menu-left{
    display:flex;

    align-items:center;

    gap:14px;
}

/* الايقونات */
.menu-left i{
    font-size:20px;

    color:#d1b08f;

    width:24px;
}

/* العنوان */
.menu-left h3{
    font-family:'Oswald', sans-serif;

    font-size:15px;

    color:white;

    margin-bottom:2px;

    font-weight:500;
}

/* الوصف */
.menu-left p{
    font-size:12px;

    color:#9f9f9f;

    line-height:1.35;
}

/* زر السهم */
.menu-item button{
    width:38px;
    height:38px;

    border:none;

    border-radius:50%;

    background:#8a5f42;

    color:white;

    font-size:12px;

    cursor:pointer;

    transition:0.3s;
}

.menu-item button:hover{
    background:#a06d49;
}
/* =========================
   SPECIALS
========================= */

.specials{
    padding:10px 24px 30px;
}

.specials h2{
    font-family:'Oswald', sans-serif;
    font-size:28px;
    margin-bottom:18px;
}

/* الكروت */
.cards{
    display:flex;
    gap:12px;
}

.card{
    flex:1;

    background:rgba(255,255,255,0.03);

    border:1px solid rgba(255,255,255,0.08);

    border-radius:16px;

    overflow:hidden;
}

.card img{
    width:100%;
    height:130px;
    object-fit:cover;
}

.card-content{
    padding:12px;
}

.card-content h3{
    font-size:18px;
    margin-bottom:8px;
    font-family:'Oswald', sans-serif;
}

.card-content p{
    font-size:13px;
    line-height:1.5;
    color:#c9c9c9;
}

.card-content span{
    color:#d8a277;
    font-size:18px;
    font-weight:600;
}

/* =========================
   FOOTER
========================= */
footer{
  margin-top:10px;
  background:linear-gradient(to right,#6b4b37,#8d6248);
  padding:22px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

footer h3{
  font-family:'Oswald', sans-serif;
  font-size:30px;
}

.socials{
  display:flex;
  gap:15px;
}

.socials i{
  font-size:26px;
  cursor:pointer;
  transition:0.3s;
}

.socials i:hover{
  transform:scale(1.15);
}
/* ============================================================================
   MODAL
================================================================================== */

.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.75);
  display:none;
  justify-content:center;
  align-items:center;
  z-index:999;
  padding:20px;
}

.modal-content{
  width:100%;
  max-width:380px;
  background:linear-gradient(to bottom,#1a110d,#120c09);
  border-radius:25px;
  padding:25px;
  position:relative;
  animation:popup 0.3s ease;
}

@keyframes popup{
  from{
    transform:scale(0.7);
    opacity:0;
  }
  to{
    transform:scale(1);
    opacity:1;
  }
}

.close{
  position:absolute;
  top:15px;
  right:20px;
  font-size:35px;
  cursor:pointer;
  color:white;
}

.modal-content h2{
  text-align:center;
  margin-bottom:25px;
  font-family:'Oswald', sans-serif;
  font-size:38px;
}

.modal-items{
  display:flex;
  flex-direction:column;
  gap:18px;
}

.drink-card{
  background:rgba(255,255,255,0.04);
  border-radius:18px;
  overflow:hidden;
  border:1px solid rgba(255,255,255,0.08);
}

.drink-card img{
  width:100%;
  height:170px;
  object-fit:cover;
}

.drink-card h3{
  padding:12px 15px 5px;
  font-size:24px;
  font-family:'Oswald', sans-serif;
}

.drink-card span{
  display:block;
  padding:0 15px 15px;
  color:#d8a277;
  font-size:20px;
  font-weight:600;
}
